# Dependency Directories
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json

# Build Directories
dist/
**/dist/
build/
**/build/
.cache/

# Local Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env
**/.env

# IDE / Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs & Diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
**/*.log

# OS Metadata Files
.DS_Store
Thumbs.db
